[submodule "public/slickgrid"]
	path = public/slickgrid
	url = git@github.com:mleibman/SlickGrid.git
[submodule "public/bootstrap"]
	path = public/bootstrap
	url = git@github.com:twbs/bootstrap.git
[submodule "public/datatables"]
	path = public/datatables
	url = git@github.com:DataTables/DataTables.git
[submodule "public/multiselect"]
	path = public/multiselect
	url = https://github.com/davidstutz/bootstrap-multiselect.git
