@CHARSET "UTF-8";

#header ul.appmenu {
	display: none;
	}

#header ul.appmenu li {
	display: none;
	}

#header ul.appmenu ul {
	display: none;
	}

#header ul.appmenu ul:after /*From IE 7 lack of compliance*/{
	display: none;
	}

#header ul.appmenu ul li {
	display: none;
	}

/* Root Menu */
#header ul.appmenu a {
	display: none;
	}


/* Do Not Move - Must Come Before display:block for Gecko */
#header ul.appmenu li:hover ul ul,
#header ul.appmenu li:hover ul ul ul,
#header ul.appmenu li.iehover ul ul,
#header ul.appmenu li.iehover ul ul ul {
	display: none;
	}
