@CHARSET "UTF-8";	

#header div.navigation {
	display: none;
}	
	
/* Root = Horizontal, Secondary = Vertical */
#header ul.navigation {
	display: none;
	}

#header ul.navigation li {
	display: none;
	}

#header ul.navigation ul {
	display: none;
	}

#header ul.navigation ul:after /*From IE 7 lack of compliance*/{
	display: none;
	}

#header ul.navigation ul li {
	display: none;
	}

/* Root Menu */
#header ul.navigation a {
	display: none;
	}

/* Root Menu Hover Persistence */
#header ul.navigation a:hover,
#header ul.navigation li:hover a,
#header ul.navigation li.iehover a {
	display: none;
	}

/* Root Menu Active indication */
#header ul.navigation li.active a {
	display: none;
	}

/* Do Not Move - Must Come Before display:block for Gecko */
#header ul.navigation li:hover ul ul,
#header ul.navigation li:hover ul ul ul,
#header ul.navigation li.iehover ul ul,
#header ul.navigation li.iehover ul ul ul {
	display: none;
	}


